.white_background {
    background: white;
    /* height: 100vh; */
    min-width: 100%;
    min-height: 100%;
    padding-top: 60px;
}
.white_background img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.nav_background_black {
    background-color: rgba(55, 55, 55, 1);
}

@media only screen and (max-width: 990px) {
    .white_background img {
        width: 70%;
    }
}

@media screen and (max-width: 990px) {
    nav{
        display: flex;
    }
}

@media only screen and (max-width: 734px) {
    .white_background img {
        width: 85%;
    }
}

@media only screen and (max-width: 414px) {
    .white_background img {
        width: 100%;
    }
}

body, html { 
    width: 100%;
    height: 100%;
}

.btnPlay {
    z-index: 9999;
    position:relative;
    /* top: 10vh; */
    /* left: 10%; */
    /* display: none; */
    left: 2vw;
    width: 40px;
    height: 100%;
    transition: 2s;
}

.btnPlay svg {
    position: absolute;
    left: 10%;
    /* bottom: 10px; */
    cursor: pointer;
    /* display: none; */
    z-index: 999;
    width: 40px;
    height: 40px;
}

.SvgPlay {    width: 40px;
    height: 100%;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items:center;
}
.SvgStop {    width: 40px;
    height: 100%;
    visibility: hidden;
    position: relative;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.displayPlayNone {
    visibility: hidden !important;
}
.displayPlayFlex {
    visibility: visible !important;
}

.Plus_5 {
    position: relative;
    top: 45px;
    border: 0;
    background-color: #8a7437;
    color: white;
    width: 49px;
    border-radius: 10px;
    padding: 3px 6px;
    left: -17px;
    cursor: pointer;
}
.Minus_5 {
    position: relative;
    left: -20px;
    top: 45px;
    border: 0;
    background-color: #8a7437;
    color: white;
    width: 49px;
    border-radius: 10px;
    padding: 3px 6px;
    cursor: pointer;
}


.nav_background_black {
    padding: 5px;
    display: flex;
    flex-direction: row;
}
nav{
    width: 100%;
    height: 60px;
    z-index: 100;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: fixed;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    transition: 0.5s;
    /* display: flex; */
}
.nav_background_black img {
    cursor: pointer;
}
.back {
    color: #FFFFFF;
    font-size: 52px;
    font-family: 'Bayformance';
    background-color: #757575;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}
.numberPage {
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Bayformance';
    padding-left: 6px;
    padding-right: 6px;
}
.to {
    color: #FFFFFF;
    font-size: 52px;
    font-family: 'Bayformance';
    background-color: #757575;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}
.nav_elements_right {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    position: relative;
    left: 60vw;
}

.imageComix {
    width: 100%;
    display: none !important;
    background-image: url('../img/comix/background.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    /* filter: blur(5px); */
}
.PreviewPage img {
    width: auto !important;
    height: 680px;
    position: relative;
    right: 15%;
    bottom: -5%;
    margin-right: 0 !important;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #676767,
                 -20px -20px 60px #ffffff;
}
.active {
    display: flex !important;
}
.PreviewPage {
    width: 100%;
    backdrop-filter: blur(30px);
    height: calc(100vh - 60px);
    position: relative;
}

.text_discription {

}
.text_discription_close {

}
.button_start_reading {
    position: absolute;
    width: auto;
    height: auto;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    padding: 44px 122px;
    background-color: #EC3E40;
    color: white;
    bottom: 20%;
    right: 45%;
    border-radius: 20px;
    cursor: pointer;  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}