.team{
    position: inherit;
    z-index: 1;
    background: #FFF5F5;
    height: 100vh;
}
.team_1 {
    padding: 4% 0;

}
.team .team-container{
    max-width: 1460px;
    margin: 0 auto;
}
.team .team__title{
    font-family: 'dance_partner', sans-serif;
    font-size: 128px;
    padding-bottom: 100px;
    text-align: center;
}
.team .team-all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .team-all .team-all-one .team-all-one__img{
    margin-bottom: 40px;
    height: 320px;
    width: 180px;
}
.team .team-all .team-all-one .team-all-one__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.team .team-all .team-all-one__name{
    font-family: 'Pelinka-ExtraLight', sans-serif;
    text-align: center;
    font-size: 36px;
}
.disactiveTeam {
    /* visibility: hidden; */
}
.lastTeamBlock {
    height: 100vh;
}

@media screen and (max-width: 920px){
    .team{
        height: auto;
    }
    .team .team-container{
        padding: 0 50px;
    }
    .team .team__title{
        padding-bottom: 10px;
    }
    .team .team-all {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
    }
    .team .team-all .team-all-one:nth-of-type(odd){
        align-self: start;
    }
}

@media screen and (max-width: 550px){
    .team .team__title{
        font-size: 54px;
    }
}