.displayDelete {
    display: none;
}
.team{
    position: inherit;
    z-index: 1;
    background: #FFF5F5;
    height: 100vh;
}
.team_1 {
    /* padding: 4% 0; */
    height: 100vh;
    position: relative;
}
.team_2 {
    /* padding: 4% 0; */
    height: 100vh;
    position: relative;
}
.team_3 {
    /* padding: 4% 0; */
    height: 100vh;
    position: relative;
    /* margin-left: 0;
    margin-right: auto; */
}
.team .team-container{
    max-width: 1460px;
    margin: 0 auto;
}
.team .team__title{
    font-family: 'dance_partner', sans-serif;
    font-size: 128px;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 80px;
}
.team .team-all{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .team-all .team-all-one .team-all-one__img{
    /* position: absolute; */
    /* bottom: 20px; */
    margin-bottom: 10px;
    height: 320px;
    width: 160px;
}
.team_png_1 {
    /* background-color: burlywood; */
    /* float: left; */
    position: absolute;
    top: 0px;
    left: 0px;
}
.team_png_2 {
    /* background-color: burlywood; */
    /* float: right; */
    position: absolute;
    bottom: 100px;
    right: 0px;
}
.team_png_3 {
    /* background-color: burlywood;  */
    position: absolute;
    top: 30px;
    left: 0px;
    /* float: left; */
}
.team_png_4 {
    /* background-color: burlywood; */
    /* float: right; */
    position: absolute;
    bottom: 30px;
    right: 0px;
}
.team_png_5 {
    /* background-color: burlywood; */
    /* position: absolute; */
    top: 30px;
    left: 0px;
    /* float: left; */
}
.team .team-all .team-all-one .team-all-one__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.team .team-all .team-all-one__name{
    font-family: 'Pelinka-ExtraLight', sans-serif;
    text-align: center;
    font-size: 36px;
}
.activeTeam {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 920px){
    .team_1 {
        width: 100%;
    }
    .team_2 {
        width: 100%;
    }
    .team_3 {
        width: 100%;
    }
    .team{
        height: auto;
    }
    .team .team-container{
        padding: 0 20px;
    }
    .team .team__title{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .team .team-all {
        display: flex;
        flex-wrap: wrap;
        /* height: 100vh; */
        /* flex-direction: column; */
        /* align-items: center; */
    }
    .team .team-all .team-all-one:nth-of-type(odd){
        align-self: start;
    }
    .team .team-all .team-all-one .team2_png {
        
    }
}

@media screen and (max-width: 550px){
    .team .team__title{
        font-size: 54px;
    }
}

@media screen and (max-height: 400px){

}